* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Monserrat, sans-serif;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.error {
    border-bottom: 2px solid #ff4332;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}
.msg-token {
    border: 2px solid #08ffc1;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}
.none {
    display: none;
}

.logout {
    color: red;
}

.sessmsg {
    border: 2px solid #08ffad;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.test {
    margin: 20px;
    text-align: center;
    color: #08ffad;     
    font-family: Monserrat, sans-serif;
}